<div class="content-dark ">
    <div class="container d-flex justify-content-center ">
        <div class="" style="width: 1150px;">
        <div>
            <h4>Search Term: </h4>
            <div class="d-flex gap-4 ">
                <input type="text" class="p-2 rounded-1 border-0 w-75">
                <button class="btn btn-success fw-bold rounded-1 px-4 py-2">Search</button>
            </div>
        </div>
            <div class="d-flex gap-3" >
                <div class="d-inline-flex flex-column">
                    <span class="py-2">Quality:</span>
                    <select class="rounded-1">
                        <option selected>All</option>
                        <option value="1">480p</option>
                        <option value="2">720p</option>
                        <option value="3">1080p</option>
                    </select>
                </div>
                <div class="d-inline-flex flex-column">
                    <span class="py-2">Genre:</span>
                    <select class="rounded-1">
                        <option selected>All</option>
                        <option value="1">480p</option>
                        <option value="2">720p</option>
                        <option value="3">1080p</option>
                    </select>
                </div>
                <div class="d-inline-flex flex-column">
                    <span class="py-2">Rating:</span>
                    <select class="rounded-1">
                        <option selected>All</option>
                        <option value="1">480p</option>
                        <option value="2">720p</option>
                        <option value="3">1080p</option>
                    </select>
                </div>
                <div class="d-inline-flex flex-column">
                    <span class="py-2">Year:</span>
                    <select class="rounded-1">
                        <option selected>All</option>
                        <option value="1">480p</option>
                        <option value="2">720p</option>
                        <option value="3">1080p</option>
                    </select>
                </div>
                <div class="d-inline-flex flex-column">
                    <span class="py-2">Language:</span>
                    <select class="rounded-1">
                        <option selected>All</option>
                        <option value="1">480p</option>
                        <option value="2">720p</option>
                        <option value="3">1080p</option>
                    </select>
                </div>
                <div class="d-inline-flex flex-column">
                    <span class="py-2">Order By:</span>
                    <select class="rounded-1">
                        <option selected>All</option>
                        <option value="1">480p</option>
                        <option value="2">720p</option>
                        <option value="3">1080p</option>
                    </select>
                </div>
            </div>
        </div>
        </div>
</div>
