/* You can add global styles to this file, and also import other style files */
body{
   /*  background:url("https://img.yts.mx/assets/images/movies/thanksgiving_2023/background.jpg")no-repeat 
    center center; */
    background-size: cover;
    background-color: #1d1d1d;
    color: white;
    font-family: Arimo,Arial,Helvetica,'Lucida Grande',sans-serif;
    
}
#background-image {
    top: 60px;
    height: 580px;
    z-index: 1;
}
.bg-green{
background-color: green;
}
.text-green{
color: green;
}
.modal-backdrop{
    z-index: 10!important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
